*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    background-color: rgb(255, 111, 8);
}

div{
    margin-left: auto;
    margin-right: auto;
}

.logo{
    margin-top: 40px;
    width: 250px;
    height: 100px;
}

.sobree{
    margin-top: 200px;
    margin-left: 100px;
    margin: 100px;
    font-size: x-large;
    background-color: aliceblue;
    border-radius: 10px;
}

.img{
    height: 100%;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info1{
    display: flex;
    margin-left:0;
    margin-right:0;
    width: 150px;
    height: 50px;
}

.informacoes{
    background-color: rgb(196, 237, 255);
    height: 100%;
    border-radius: 10px;
}

.voltar{
    color: aliceblue;
    text-decoration: none;
    border-radius: 10px;
    width: 100px;
    height: 25px;
    background-color: rgb(0, 0, 0);
    border-color: darkorange;
}